body {
	margin: 0;
	padding: 0;
}

#Holder {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 60px;
	background-color: #efc74b;
}

#Content {
	height: auto;
	clear: both;
	overflow: auto;
}

#PageHeading {
	height: auto;
	padding: 11px;
}

#Letnice {

	background-color: #c0c0c0;
	height: 40px;

	padding: 20px;

}

#Letnice a {

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration: none;
	color: white;
	display: inline-table;
	width: 60px;
}

.letoZnamke {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-top: 11px;
	padding-left: 11px;
	font-size: 24px;
}

.znamke {

	padding-top: 11px;
	padding-left: 11px;
}

#ContentLeft {
	max-width: 970px;
	float: left;
}

#ContentRight {
	width: 280px;
	float: right;
	padding-top: 11px;
	padding-left: 11px;
}

#Footer {
	height: 100px;
}

h1 {
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #555;
}

h2 {
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: lighter;
	color: #999;
}

h6 {
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: lighter;
	font-size: 14px;
	color: #555;
}

a {
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: lighter;
	color: #555;
}

a.urediAlbum {

	font-size: 32px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.kolicina {

	font-size: 32px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #efc74b url("arrow-up-01-128.png") no-repeat center 50%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.znamke td {

	text-align: center;
}

.StyleTxtField {
	border: 1px solid #666;
	border-radius: 6px;
	width: 200px;
	height: 35px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left: 6px;
}

.StyleTxtField2 {
	border: 1px solid #666;
	border-radius: 6px;
	width: 100px;
	height: 35px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left: 6px;
	text-indent: 20px;
}

.StyleTxtField3 {
	border: 1px solid #666;
	border-radius: 6px;
	width: 100px;
	height: 35px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left: 6px;
}

.menjavatext {
	border: 1px solid #666;
	border-radius: 6px;
	width: 300px;
	height: 35px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.menjavagumb {
	border: 1px solid #666;
	border-radius: 6px;
	width: auto;
	height: 35px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#dosezki {

	padding-left: 11px;
}

#dosezki tr td {

	border-style: dotted;
	border-width: 2px;
	border-color: #c0c0c0;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: italic;
	font-size: 20px;

	width: 230px;
	height: 230px;
}

.dosezekManjka {

	opacity: 0.3;
    filter: alpha(opacity=30);
}


#chatwindow{
    position:relative;
    height:400px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 11px;
}
#messagewindow, #inputcontainer{
    position:absolute;
    left:0;
    right:0;
    border:1px solid #000;
}
#messagewindow{   
    overflow:auto;
    top:0;
    bottom:1em;
    padding: 11px;
    padding-top: 0;
}

.sistem {   
    overflow:auto;
    top:0;
    bottom:1em;
    font-style: italic;
}

.menjava-row {

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#inputcontainer{
    display:block;
    bottom:0;
    height:1em;
    padding:.5em;
    margin-top:1em;
}

#inputcontainer > p{
    margin:0;
}