.znamka {
	max-width: 150px; max-height: 100px;
	border: 5px solid;
	margin: 10px;
}

.malaznamka {
	max-width: 30px; max-height: 20px;
	border: 1px solid;
	margin: 10px;
}


.znamkaManjka {
	max-width: 150px; max-height: 100px;
	border: 5px solid;
	margin: 10px;
	
    opacity: 0.2;
    filter: alpha(opacity=20); /* msie */
}	

#znamkaPodrobnosti {
	padding: 11px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#znamkaSeznam {
	vertical-align: baseline;
	text-align: center;
	border-style: dotted;
	border-color: #c0c0c0;
	border-width: 2px;

}
	
